GOOGLE_ANALYTICS=#{GOOGLE_ANALYTICS}
RECAPTCHA_KEY=#{RECAPTCHA_KEY}
CONTACT_API=#{CONTACT_API}
VERSION_DEPLOYED=#{VERSION_DEPLOYED}
APPINSIGHTS_INSTRUMENTATIONKEY=#{APPINSIGHTS_INSTRUMENTATIONKEY}
AUTH0_CLIENT_ID=#{AUTH0_CLIENT_ID}
AUTH0_DOMAIN=#{AUTH0_DOMAIN}
AUTH0_REDIRECT_URI=#{AUTH0_REDIRECT_URI}
API_BASE_URL=#{API_BASE_URL}
CONTENT_BRANCH=#{CONTENT_BRANCH}