GOOGLE_ANALYTICS=#{GOOGLE_ANALYTICS}
RECAPTCHA_KEY=#{RECAPTCHA_KEY}
CONTACT_API=#{CONTACT_API}
VERSION_DEPLOYED=#{VERSION_DEPLOYED}
APPINSIGHTS_INSTRUMENTATIONKEY=#{APPINSIGHTS_INSTRUMENTATIONKEY}
CLIENT_ID=#{CLIENT_ID}
DOMAIN=#{DOMAIN}