html {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif
}

body {
    color:#333;
}

h1 {
    color: #cc4141;
    font-weight: 100;
}

pre code {
    background-color: #1b262c;
    color: #fff;
    border-radius: .5rem;
    padding: .5rem 1rem;
    margin-bottom: 1rem;
    overflow-y: scroll;
}

a:hover {
    color: #cc4141 !important;
  }