name: Scheduled CodeAuditor test

# Schedule scan for SSW Rules at 1pm every Friday
on: 
  schedule:
  - cron: "0 13 * * 5"

  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: 'SSW CodeAuditor - Check broken links and performance'
        continue-on-error: true
        run: 'docker run sswconsulting/codeauditor --token ${{ secrets.CODEAUDITOR_TOKEN }} --url https://www.ssw.com.au/rules/ --maxthread 200 --debug'
