name: Scheduled CodeAuditor test

# Weekly scan at 1:00 AM US Eastern Time
on: 
  schedule:
  - cron: "0 6 * * 5"

  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    permissions: 
      issues: write
    steps:
      - uses: actions/checkout@v4
      - name: CodeAuditor Workflow
        uses: SSWConsulting/codeauditor-scan-site@1.0.0
        with:
          # Your CodeAuditor token
          token: ${{ secrets.CODEAUDITOR_TOKEN }}
          # Your Scan URL
          url: https://www.ssw.com.au/rules/
          # Your GitHub Token
          GitHub_Token: ${{ github.token }}
